<a href="https://colab.research.google.com/github/suxess/cryptonote/blob/master/Copy_of_%D0%A4%D0%B5%D0%B2%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D1%83%D1%80%D1%81_2020_Light_Python_%D0%94%D0%97_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Домашнее задание 1: Введение в Python

## Light версия

### Задача 1

Считайте с входящей строки два целых числа и выведите их сумму, разность, произведение.

In [0]:
x = int(input('Введите первое число: '))
y = int(input('Введите второе число: '))
print ('Вы ввели числа: ', x, 'и', y)

print('Сумма чисел: ', x + y)
print('Разность чисел: ', x - y)
print('Произведение чисел: ', x * y)

Введите первое число: 5
Введите второе число: 7
Вы ввели числа:  5 и 7
Сумма чисел:  12
Разность чисел:  -2
Произведение чисел:  35

### Задача 2

Дан ряд целых чисел от 10 до 25 включительно. Используя цикл for выведите на экран сумму двух последовательно идущих чисел.


**Пример**: 

Для ряда от 2 до 6 включительно выдача выглядит так: 

5

7

9

11

In [0]:
#заготовки
for i in range(10, 25): #диапазон с ... до
    print(i+i+1)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

### Задача 3

Для ряда целых чисел от 100 до 150 включительно выведите на экран только те, что делятся на 5 без остатка.

In [0]:
for i in range(100, 150+1): #диапазон с ... до
  if i % 5 == 0:
     print(i)

100
105
110
115
120
125
130
135
140
145
150

### Задача 4

Считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя конструкцию if...else выведите на экран результат в зависимости от условий:

* Если N нечетное, то выведите на экран "N нечетное"
* Если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]"
* Если N четное и больше 10, выведите на экран "N четное и N > 10"
* Если N четное и меньше 5, выведите на экран "N четное и N < 5"

In [0]:
N = int(input('Введите число: '))
if N % 2 != 0:    #Проверяем четность введенного числа
    print('Нечетное число')
elif N >= 5 and N <= 10: #Проверяем ряд условий
    print('N четное и принадлежит интервалу [5, 10]')
elif N > 10:
    print('N четное и N > 10')
elif N < 5:
    print('N четное и N < 5')

Введите число: 14
N четное и N > 10

### Задача 5

Используя цикл while, посчитайте и выведите на экран сумму всех целых чисел от 15 до 22 включительно.

In [0]:
N = 15

s = 0
while N <= 22:
    s = s + N
    N += 1
print(s)

148

### Задача 6

Используя цикл for, найдите сумму всех элементов заданного списка. (Без использования встроенных функций sum и т.д.)

In [0]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]

s=0
for el in my_list:
  s += el
print(s)

880

### Задача 7

Используя цикл (любой) найдите значение максимального элемента списка из предыдущего задания. (Без использования встроенных функций max и т.д.) Можно использовать встроенные методы списков (любые). 

P.S.: не стесняйтесь гуглить :)

P.S.2: гуглить нужно фразу "алгоритм поиска максимального элемента массива"

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7

In [0]:
# задаем список из предыдущего примера 
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]
# предположим, что максимальный элемент равен 0
maximum = my_list[0]
#перебираем в цикле все значения списка и сравниваем с максимумом
for i in range(1, len(my_list)):
    if my_list[i] > maximum:
        maximum = my_list[i]
print(maximum)

158

### Задача 8

Создайте словарь, соответствующий следующему описанию: 
    
В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, ни съел ни одной.

P.S. все совпадения случайны :)

In [0]:
my_dict = {'Наташа' : '2 конфеты', 
           'Алина' : '3 конфеты', 
           'Марат' : '15 конфеты', 
           'Лев' : '1 конфету', 
           'Валера' : '0 конфет'
           }

In [0]:
my_dict

{'Алина': '3 конфеты',
 'Валера': '0 конфет',
 'Лев': '1 конфету',
 'Марат': '15 конфеты',
 'Наташа': '2 конфеты'}

In [0]:
my_dict.keys()

dict_keys(['Наташа', 'Алина', 'Марат', 'Лев', 'Валера'])

In [0]:
my_dict.values()

dict_values(['2 конфеты', '3 конфеты', '15 конфеты', '1 конфету', '0 конфет'])

### Задача 9

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. используйте встроенный метод .update

In [0]:
#без указания функции update
my_dict = {'Наташа' : '2 конфеты', 
           'Алина' : '3 конфеты', 
           'Марат' : '15 конфеты', 
           'Лев' : '1 конфету', 
           'Валера' : '0 конфет'
           }
my_dict['Рома'] = '4 конфеты' 
print(my_dict)

{'Наташа': '2 конфеты', 'Алина': '3 конфеты', 'Марат': '15 конфеты', 'Лев': '1 конфету', 'Валера': '0 конфет', 'Рома': '4 конфеты'}

In [0]:
# с ипользованием функции update (можно разом много значений вносить - объединяем словари)
my_dict = {'Наташа' : '2 конфеты', 
           'Алина' : '3 конфеты', 
           'Марат' : '15 конфеты', 
           'Лев' : '1 конфету', 
           'Валера' : '0 конфет'
           }
a = {'Рома' : '4 конфеты'}
my_dict.update(a)
print(my_dict)

{'Наташа': '2 конфеты', 'Алина': '3 конфеты', 'Марат': '15 конфеты', 'Лев': '1 конфету', 'Валера': '0 конфет', 'Рома': '4 конфеты'}

## Pro версия

### Задача 1

Выведите на экран следующий паттерн:

@

@ @

@ @ @

@ @ @ @ @

Обратите внимание на пробел между символами

In [0]:
for i in range(6):
  if i != 4:
    print(i* '@ ')

@
@ @
@ @ @
@ @ @ @ @

### Задача 2

Выведите на экран следующий паттерн:

1

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

Обратите внимание на пробел между символами

In [0]:
for i in range(1, 10):
  if (i)<=5:
    print((str(i) + ' ')*(i))
  else:
    print((str(i) + ' ')*(10-i))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6
7 7 7
8 8
9

### Задача 3

Используя цикл while, выведите на экран таблицу умножения для числа 7.

**Пример:**
    
Для числе 5 выдача выглядит так:
    
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

...

5 * 9 = 45

In [0]:
x = 7
i = 0
while i != 9:
  i += 1
  p = x * i
  print(x, ' * ', i, ' = ', p)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63

### Задача 4

Представьте, что вы подбрасываете два кубика одновременно. Считайте с входящей строки два целых числа d1 и d2. Проверьте, соответствуют ли введенные числа интервалу значений для кубика. Если нет, то выведите на экран строку "Ошибка! Значение на кубике (1 или 2, вставьте подходящее значение) не входит в интервал [1, 6]". В противном случае посчитайте сумму выпавших значений. Если сумма равна 7 или 11, выведите на экран "Я победил!!!". Если сумма равна 2, 3 или 12, то выведите на экран "Я проиграл :(". Во всех остальных случаях выведите на экран сумму значений.

In [0]:
d1 = int(input('Бросье 1 кубик: '))
d2 = int(input('Бросье 2 кубик: '))

R = range(1,7)

if d1 not in R:
  print(('Ошибка! Значение {} на 1 кубике вне диапазона').format(d1))

if d2 not in R:
  print(('Ошибка! Значение {} на 2 кубике вне диапазона').format(d2))

if d1 in R and d2 in R:

  d_sum = d1 + d2
  
  if d_sum ==7  or d_sum == 11:
    print('Я победил! ' )

  elif d_sum == 2 or d_sum == 3 or d_sum == 12:
    print('Я проиграл :(')

  else:
    print('Сумма значений =', d_sum)

Бросье 1 кубик: 3
Бросье 2 кубик: 9
Ошибка! Значение 9 на 2 кубике вне диапазона

### Задача 5

Напишите код, который ищет все числа в интервале от 3000 до 4300 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

In [0]:
for i in range(3000, 4301):
  if i % 11 == 0 and i % 5 != 5:
    print(i)

3003
3014
3025
3036
3047
3058
3069
3080
3091
3102
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3223
3234
3245
3256
3267
3278
3289
3300
3311
3322
3333
3344
3355
3366
3377
3388
3399
3410
3421
3432
3443
3454
3465
3476
3487
3498
3509
3520
3531
3542
3553
3564
3575
3586
3597
3608
3619
3630
3641
3652
3663
3674
3685
3696
3707
3718
3729
3740
3751
3762
3773
3784
3795
3806
3817
3828
3839
3850
3861
3872
3883
3894
3905
3916
3927
3938
3949
3960
3971
3982
3993
4004
4015
4026
4037
4048
4059
4070
4081
4092
4103
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4224
4235
4246
4257
4268
4279
4290

### Задача 6

Используя циклы, напишите код, который создает список (list) путем конкатенации значений данного листа с целыми числами от 1 до (произвольного) n включительно.

Пример:

для списка ["сосиски", "горчица"] при n = 3 результат должен выглядеть так:

['сосиски$\_$1', 'горчица$\_$1', 'сосиски$\_2$', 'горчица$\_$2', 'сосиски$\_$3', 'горчица$\_$3']

In [0]:
sample_list = ["мандаринки", "киви", "лимон"]
n = int(input('Ведите целое число: '))

fin_lst = []
for i in range(n):
  for el in sample_list:
    fin_lst.append(el + '_' + str(i+1))
print(fin_lst)

Ведите целое число: 5
['мандаринки_1', 'киви_1', 'лимон_1', 'мандаринки_2', 'киви_2', 'лимон_2', 'мандаринки_3', 'киви_3', 'лимон_3', 'мандаринки_4', 'киви_4', 'лимон_4', 'мандаринки_5', 'киви_5', 'лимон_5']

### Задача 7

Напишите код, который считает количество элементов в заданном списке до тех пор, пока не встретится элемент типа словарь.

Пример:

для списка [3, "котики", 0.45, 5, {'котики' : 2, 'слоники' : 9}, "слоники", 34] на выходе должны получить число 4

In [0]:
list_for_pro_task_2 = [35, 0.24, 3 + 4j, "котики", 0.45, (8, 9), "слоники", {"Мадрид": 3, 'Лондон':5}, 23498]
print(list_for_pro_task_2)

for i in range(len(list_for_pro_task_2)):
  if type(list_for_pro_task_2[i]) == dict:
    print('Количество элементов до словаря:', i)

[35, 0.24, (3+4j), 'котики', 0.45, (8, 9), 'слоники', {'Мадрид': 3, 'Лондон': 5}, 23498]
Количество элементов до словаря: 7

### Задача 8

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 20 включительно и значениями, соответствующими квадратам ключей. 

P.S. используйте циклы или функции, прямое "ручное" присваивание не допускается (!!!)

Пример: 

для чисел от 1 до 3 включительно словарь должен выглядеть так: {1 : 1, 2 : 4, 3 : 9}

In [0]:
# решение с циклом while
i = 1
data = {}

while i <= 20:
    data[i] = i**2
    i+=1
print(data)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [0]:
# решение с циклом for
data = {}

for i in range(20):
  data[i+1] = (i+1)**2
print(data)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}